@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');
.container {
    width: 70%;
    margin: 0 auto;
    font-family: 'Roboto';
}

.container h1 {
    text-align: center;
    font-weight: bold;
}
